/***************** Font **********************************/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ramabhadra|Yesteryear&display=swap');
/***************** HTML Body ******************************/

body {
    line-height: 1;
    width: 100%;
    height: 100%;
}

/***************** Header  *********************************/

header {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #1E94A0;
    border-radius: 0;
    border-bottom: 10px solid #FEC0C1;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.lead {
    font-size: 60px;
    margin-top: 10px;
    color: #DC2543;
    font-family: 'Pacifico', cursive; 
}

/************** Main container ******************************/

main {
align-content: center;
margin-bottom: 30px;
width: 100%;
height: 100%;
}

.present {
    background-color: #E4DACE;

}

.past {
    background-color: #D92139;

}

.future {
    background-color: #AEC33A;

}

.row .time-block {
    white-space: pre-wrap;
    min-height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

/***************** Time Block ******************************/

.time { 
    text-align: center;
    align-content: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #004E6D;
    border-left: 3px solid #004E6D;
    border-top: 3px solid #004E6D;
    border-right: 3px solid #004E6D;
    font-family: 'Ramabhadra', sans-serif;
    min-height: 100px;
    min-width: 100px;
    background-color: #1E94A0;
}

.timehour {
    text-align: center;
    justify-content: flex-start;
    font-size: 20px;
    font-family: 'Ramabhadra', sans-serif;
    color: #fff;

}

/***************** Task Block ******************************/
.description {
white-space: pre-wrap;
padding:0;
}

.textArea {
    resize: none;
    align-content: stretch;
    align-self: space-between;
    width: 900px;
    min-height: 100px;
    border-bottom: 1px solid #004E6D;
    border-top: 3px solid #004E6D;
    border-left: 3px solid #004E6D;
    border-right: 3px solid #004E6D;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color:#004E6D;
}

/***************** Save Button ******************************/

.saveBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #DC2543;
    min-height: 100px;
    min-width: 100px;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}

#icon {
align-content: center;
color: #fff;
align-self: center;
max-height: 100px;
min-width: 100px;
}
